.FormContainer {
  display: flex;
  justify-content: center;

  .form_container {
    width: var(--content-width);

    background-color: rgba(0,0,0,.2);
    backdrop-filter: blur(5px);
    //padding: 1rem;
    border-radius: 10px;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;

    .header {
      font-size: 1.5rem;
      text-align: center;
      padding: 1rem;
    }

    form {
      margin-bottom: 2rem;
    }

    .footer {
      width: 100%;
      background-color: rgba(0,0,0,.075);
      padding: 1rem;
    }
  }
}